/* 设置最外层的盒子为flex弹性盒子，使其子项能够继承背景颜色 */
footer > div.footer-box {
  display: flex; /* 设置为弹性盒子 */
  flex-direction: column; /* 使其子项竖向排列 */
  background-color: #1764ce;
}

/* top */
/* 定义头部样式 */
footer > div.footer-box > div.footer-top {
  background-color: #dbecfb;
  position: relative; /* 相对定位，使其下拉框能够绝对定位在这个区域 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 下拉框能够居中 */
  height: 58px;
}

footer > div.footer-box > div.footer-top > ul.drop-title {
  display: flex;
  width: 1168px; /* 整个页面的内容盒子为1168px，方便不同区域左右对齐 */
  margin: 0 auto; /* 水平居中 */
  color: #0b6fcd;
}

/* 下拉框中的内容的样式 */
footer > div.footer-box > div.footer-top > ul.drop-title > li {
  cursor: pointer;
  width: 146px;
  height: 58px;
  text-align: center;
  line-height: 58px;
}

/* 调节箭头图标和li内容之间的外边距 */
footer > div.footer-box > div.footer-top > ul.drop-title > li > img {
  margin-left: 2px;
}

/* 下拉框的样式 */
footer > div.footer-box > div.footer-top > ul.drop-down {
  position: absolute; /* 子绝父相，在上面定义父元素的相对位置就是为了能使其下拉框能定位到父元素上 */
  width: 1168px;
  height: 0;
  overflow: auto; /* 如果有溢出变成滚轮 */
  background-color: #fff;
  top: 58px;
  transition: height 0.5s linear;
  display: flex; /* 弹性盒子 */
  flex-wrap: wrap; /* 默认当行，多行设置 */
}

/* 设置下拉框中内容的样式 */
footer > div.footer-box > div.footer-top > ul.drop-down > li {
  width: 224px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  color: #333;
}

/* bottom */
/* 设置底部样式 */
footer > div.footer-box > div.footer-bottom {
  height: 160px;
  display: flex;
  width: 1168px;
  margin: auto;
  margin-top: 30px;
  color: #fff;
  font-size: 13.6px;
}

/* bottom-left */
footer > div.footer-box > div.footer-bottom > div.footer-b-left {
  display: flex;
  flex-direction: column;
}

footer > div.footer-box > div.footer-bottom > div.footer-b-left > ul {
  display: flex;
}

/* 设置竖杠 */
footer
  > div.footer-box
  > div.footer-bottom
  > div.footer-b-left
  > ul
  > li
  > span.f-line {
  display: inline-block;
  border-left: 2px solid #fff;
  height: 14px;
  vertical-align: middle;
  margin: 0 5px;
}

/* 微调 */
footer > div.footer-box > div.footer-bottom > div.footer-b-left > p#addr {
  margin-top: 25px;
}

/* 微调 */
footer > div.footer-box > div.footer-bottom > div.footer-b-left > p.f-item {
  margin-bottom: 10px;
}

/* bottom-center */
footer > div.footer-box > div.footer-bottom > div.footer-b-center {
  display: flex;
  width: 348px;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
  margin-left: 20px;
}

/* 设置图片大小 */
footer
  > div.footer-box
  > div.footer-bottom
  > div.footer-b-center
  > a
  > img.second {
  width: 68px;
}

/* 设置图片样式 */
footer
  > div.footer-box
  > div.footer-bottom
  > div.footer-b-center
  > a
  > img.cen-img {
  width: 97px;
  height: 48px;
  margin-right: 10px;
}

/* bottom-right */
/* 设置底部右边区域的样式 */
footer > div.footer-box > div.footer-bottom > div.footer-b-right > ul.fbr-ul {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/* 设置内容中包含二维码和span标签的盒子样式 */
footer
  > div.footer-box
  > div.footer-bottom
  > div.footer-b-right
  > ul.fbr-ul
  > li.fbr-item {
  display: flex; /* 设置为弹性盒子 */
  flex-direction: column; /* 使其img和span标签竖向排列 */
  width: 82px; /* 固定盒子大小 */
  gap: 5px;
}

/* 二维码下的图片居中 */
footer
  > div.footer-box
  > div.footer-bottom
  > div.footer-b-right
  > ul.fbr-ul
  > li.fbr-item
  > span {
  text-align: center;
}
